@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/font/Vazir.woff2') format('woff2');
}
